<div class="contextual">
  <%= link_to l(:label_auto_close_new), 
      new_auto_close_path, :class => 'icon icon-add' %>
</div>

<%= title l(:label_auto_close_plural) %>

<% if (@auto_close.blank?) %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>

<% end %>
